extends ../partials/layout.pug  

block content
     video(src="/" + dbVideo.fileUrl controls) 
     div
          p=dbVideo.description
          p=dbVideo.hashtags
          small=dbVideo.createdAt 
     div  
          a(href=`/users/${dbVideo.owner._id}`)  #{dbVideo.owner.name}
     if String(dbVideo.owner._id) === String(locals.loggedInUser._id) 
          a(href=`${dbVideo.id}/edit`) Edit video &rsaquo;
          br
          a(href=`${dbVideo.id}/delete`) Delete video &rsaquo;