mixin video(videoInfo)
    div 
        h4 
            a(href=`/videos/${videoInfo.id}`)
                span #{videoInfo.title} -#{videoInfo.writer}-
        ul 
            li #{videoInfo.views} views
            li Posted #{videoInfo.createdAt}