mixin video(videoInfo)
    a(href=`/videos/${videoInfo._id}`)
        div#content
            div#thumbnail
                    video(src=`/${videoInfo.fileUrl}`)
            div#details
                a#avatar-link
                div#meta
                    h3=videoInfo.title
                    div#metadata
                        a(href="/" + videoInfo.owner.id)=videoInfo.owner.name  
                        br
                        small=`${videoInfo.meta.views}회 · ` 
                        small=videoInfo.createdAt