extends partials/layout.pug

block content
     div
          p=dbVideo.description
          p=dbVideo.hashtags
          small=dbVideo.createdAt 
     a(href=`${dbVideo.id}/edit`) Edit video &rsaquo;
     br
     a(href=`${dbVideo.id}/delete`) Delete video &rsaquo;